<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
		<div id="app"></div>
		<img width="150" src=<%= require("./img/webpack-logo.svg") %> alt="..">
		<img width="300" src=<%= require("./img/webpack-logo.svg") %> alt="..">
		<img width="450" src=<%= require("./img/webpack-logo.svg") %> alt="..">
  </body>
</html>